.container {
  width: 100%;
  max-width: 400px;
  margin-top: 5px;
  margin-left: 5px;
  
}

.contato-form label {
  display: block;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 18px;
  line-height: 20px;
}

.contato-form input {
  display: block;
  width: 100%;
  border: 1px solid #713efe;
  background: none;
  padding: 4px 4px;
  outline: none;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
}

.btn {
  border: 2px solid #713efe;
  padding: 4px 4px;
  color: #6b3ee7;
  letter-spacing: 0.1em;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  font-weight: bold;
}

.contato-form .btn {
  background: none;
  padding: 10px 40px;
  margin-bottom: 20px;
}

.contato-form .btn:hover {
  color: #000;
  border-color: #000;
  cursor: pointer;
}

